{
  "AzureTranslation": {
    "SubscriptionKey": "your_subscription_key"
  },
  "Files": {
    // Folder containing all Strings.<culture>.resx files
    "ResourcesPath": "path_to_your_resources_folder"
  }
}
