{
  "AzureTranslation": {
    "SubscriptionKey": "your_subscription_key"
  },
  "Files": {
    "Source": "path_to_your_source_file_here",
    "Target": "path_to_your_target_file_here"
  },
  "Translation": {
    "TargetLanguage": "target_language_here"
  },
  "Localization": {
    "SupportedCultures": [
      "en-US",
      "ar",
      "hy-AM",
      "az",
      "be-BY",
      "bg-BG",
      "zh-CHS",
      "cs-CZ",
      "da-DK",
      "nl-NL",
      "et-EE",
      "fi-FI",
      "fr-FR",
      "ka-GE",
      "de-DE",
      "el-GR",
      "id-ID",
      "it-IT",
      "ja-JP",
      "ko-KR",
      "ky-KG",
      "lv-LV",
      "lt-LT",
      "hi-IN",
      "hu-HU",
      "kk-KZ",
      "nb-NO",
      "pl-PL",
      "pt-PT",
      "sk-SK",
      "sl-SI",
      "es-ES",
      "sv-SE",
      "syr-SY",
      "ro-RO",
      "ru-RU",
      "tt-RU",
      "th-TH",
      "tr-TR",
      "uk-UA",
      "vi-VN"
    ],
    "ExampleLanguages": [
      "en",
      "ru"
    ]
  }
}
